{% extends "layout.html" %}

{% block title %}
    Http Error 500
{% endblock %}

{% block main %}

<div class="d-flex flex-direction-column justify-content-center">
    <div class="card w-75 mt-5">
        <div class="card-body">
        <h4 class="card-title">HTTP Error 500: Failed To Process Request</h5>
        <iframe src="https://giphy.com/embed/RneIcLEosVuta"></iframe>
        <p class="card-text">Don't Worry, these things happen. Contact us or try again later!</p>
        <p class="card-text">{{ error }}</p>
        <a href="/" class="btn btn-purple">Home</a>
        </div>
    </div>
</div>
{% endblock %}